<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.mobilehardware" >
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application>
        <provider
            android:name="com.mobile.mobilehardware.MobInitializer"
            android:exported="false"
            android:authorities="com.mobile.mobilehardware.MobInitializer.${applicationId}" />
    </application>
</manifest>
