<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.mobilehardware" >
    <application>
        <provider
            android:name="com.mobile.mobilehardware.MobInitializer"
            android:exported="false"
            android:authorities="com.mobile.mobilehardware.MobInitializer.${applicationId}" />
    </application>
</manifest>
